<html>

<head>
    <title>Thank you</title>
    <style>
        #container {

          position: relative;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }

        >
    </style>
</head>

<body>
    <div id=container>
          <h4>Thanks for ordering bumass</h4>
          <center>

          <p>
            Estimated Delivery Time: {{deltime}}
          </p>
          <p>
            Resturaunt Name: {{restname}}
          </p>
          <p>
            Resturaunt Rating:
          </p>
          <p>
            Total Cost:
          </p>
          <p> <a href="/"> back </a></p>
          </center>
    </div>
</body>

</html>
